@model List<FlavourFusion.Models.ContestViewModel>
<head>
    <script src="https://cdn.jsdelivr.net/npm/inputmask@5.0.6/dist/inputmask.min.js"></script>
    <title>Our Going Contests - FlavourFusion</title>
    <style>
        .thecontainer {
            margin-top: 40px;
            background-color: white;
            box-shadow: rgba(17, 12, 46, 0.04) 0px 48px 100px 0px;
            height: 60px;
            margin-bottom: 50px;
            border-radius: 8px;
            border: 0.1px solid rgb(255, 132, 0);
        }

        .formcontainer {
            box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
        }
    </style>
</head>

<div class="inner-banner inner-bg9">
    <div class="container">
        <div class="inner-title text-center">
            <h3>Contest</h3>
        </div>
    </div>
</div>

<div class="event-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="event-content">
                    <div class="section-title">
                        <span>Events</span>
                        <h2 style="font-weight:600">Our Going <b style="font-weight:600">Contests</b></h2>
                    </div>
                    <div class="row">
                        @foreach (var contestViewModel in Model)
                        {
                            var contest = contestViewModel.Contest;
                            var submission = contestViewModel.Submission;

                            <div class="col-lg-12">
                                <div class="content">
                                    <div class="event-date">
                                        <img src="/Template/assets/images/event/the-event-bg.png" alt="Images">
                                    </div>
                                    <h3><a href="@Url.Action("Participate", "FlavourFusion", new { contestId = contest.Contest_Id })"> @contest.ContestName </a></h3>
                                    <p>@contest.ContestDescription</p>
                                    <a href="#"><i class="bx bx-alarm"></i>@contest.StartDate - @contest.EndDate</a>
                                    <a href="@Url.Action("Participate", "FlavourFusion", new { contestId = contest.Contest_Id })" class="default-btn" style="margin-top:15px;color:white;">Partcipate</a>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="event-img">
                    <img src="/Template/assets/images/event/event-img.jpg" alt="Images">
                    <div class="sub-img">
                        <img src="/Template/assets/images/event/event-sub-img.png" alt="Images">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@if (Model.Any(m => m.Submissions != null && m.Submissions.Any()))
{
    <div class="container">
        <div class="row">
            <div class="section-title text-center mt-5 mb-1">
                <h2 style="font-weight:600">User's Submissions</h2>
            </div>
            @foreach (var contestViewModel in Model)
            {
                var contest = contestViewModel.Contest;
                var submissions = contestViewModel.Submissions;

                if (submissions != null && submissions.Any())
                {
                    <div class="col-lg-12">
                        <h3 class="text-center mb-5">Competition: <span style="color:darkorange;">@contest.ContestName</span></h3>
                    </div>

                    foreach (var submissionViewModel in submissions)
                    {
                        var submission = submissionViewModel.Submission;
                        var user = submissionViewModel.User;

                        if (submission != null && user != null)
                        {
                            <div class="col-lg-4 col-md-6">
                                <div class="recent-recipe-item">
                                    @if (submission.WinnerStatus.HasValue && submission.WinnerStatus.Value)
                                    {
                                        <span class="winner-label" style="position:absolute;background-color:darkorange;color:white;padding:8px;margin-left:15px;margin-top:5px;border-radius:5px;">Winner</span>
                                    }
                                    <a href="/FlavourFusion/ParticipateRecipeDetails/@submission.Submission_Id">
                                        @if (!string.IsNullOrEmpty(submission.Recipe_image))
                                        {
                                            var imagePaths = submission.Recipe_image.Split(new[] { ',' }, StringSplitOptions.RemoveEmptyEntries);
                                            var firstImagePath = Url.Content(imagePaths[0]);
                                            <img src="@firstImagePath" alt="Recipe Image" style="border-radius: 15px;">
                                        }
                                    </a>
                                    <div class="content">
                                        <h3 class="text-center"><a href="/FlavourFusion/ParticipateRecipeDetails/@submission.Submission_Id">@submission.RecipeName</a></h3>
                                        <div class="user-info">
                                            <a class="text-center" style="color:black;" href="@Url.Action("UserProfile", "FlavourFusion", new { id = user?.user_id })">
                                                <img src="@Url.Content(user.user_img)" alt="User Image" style="border-radius: 50%; width: 30px; height: 30px;">
                                                @user.user_name
                                            </a>
                                        </div>
                                        <p style="margin-top:20px;">@(submission.RecipeDescription.Length > 200 ? submission.RecipeDescription.Substring(0, 200) + "..." : submission.RecipeDescription)</p>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                }
            }
        </div>
    </div>
}



