@model FlavourFusion.Models.IndexViewModel
<head>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
    <title> The FlavourFusion Unleash Your Cooking Skills!</title>
    <style>
        .toast {
            background-color: white;
            position: fixed;
            right: 20px;
            z-index: 1;
            margin-bottom: 120px;
            box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
        }

        .banner-slider .owl-dots {
            display: none;
        }

        .subscribe {
            background-image: url(../../Template/assets/images/calculate-bg.png);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: white;
            width: 900px;
            height: 450px;
            border-radius: 20px;
            box-shadow: rgba(17, 12, 46, 0.07) 0px 48px 100px 0px;
            position: relative;
            left: 160px;
            margin-bottom: 150px;
        }


        .subscribe__title {
            font-weight: bold;
            font-size: 26px;
            margin-bottom: 18px;
        }

        .subscribe__copy {
            max-width: 450px;
            text-align: center;
            margin-bottom: 53px;
            line-height: 1.5;
        }

        .form {
            margin-bottom: 25px;
        }

        .form__email {
            padding: 20px 25px;
            border-radius: 5px;
            border: 1px solid #CAD3DB;
            width: 431px;
            font-size: 18px;
            color: #0F121F;
        }

            .form__email:focus {
                outline: 1px solid black;
            }

        .form__button {
            background: rgb(255, 132, 0);
            padding: 10px;
            border: none;
            width: 244px;
            height: 65px;
            border-radius: 5px;
            font-size: 18px;
            color: white;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
            transition: 0.2s;
        }

            .form__button:hover {
                box-shadow: none;
            }


        /*.banner-slider .owl-dots {
            top: 370px;*/ /* Adjust the position of the dots */
        /*display: flex;
            justify-content: center;
            align-items: center;
        }

        .banner-slider .owl-dot {
            background: #000;
            width: 12px;
            height: 12px;
            margin: 50px 6px;*/ /* Adjust the spacing between the dots */
        /*}*/

        .banner-item:not(:first-child) .banner-item-video {
            display: none; /* Hide video in all slides except the first one */
        }
    </style>
</head>
@if (TempData["ToastMessage"] != null)
{
    <div role="alert" aria-live="assertive" aria-atomic="true" class="toast" data-autohide="false" style="position: fixed; top: 50px; right: 10px; z-index: 9999;">
        <div class="toast-header">
            <img src="~/Content/img/greentick-icon.png" height="23" width="23" class="rounded mr-2" alt="...">
            <small>@DateTime.Now</small>
            <button type="button" class="btn-close btn-close-dark end-0" id="thebutton" onclick="$(this).closest('.toast').toast('hide')" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            <p class="card-text">@TempData["ToastMessage"]</p>
        </div>
    </div>
    <script>
    $(document).ready(function () {
        @if (TempData["ToastMessage"] != null)
        {
            @: $('.toast').toast('show');
        }
    });
    </script>
}

<div class="banner-slider-area" style="position:relative;bottom:35px;">
    <div class="banner-slider owl-carousel owl-theme">
        <div class="banner-item">
            <img src="/Template/assets/images/home-two/the1.png" alt="Banner Images" class="theimg" autoplay loop>
        </div>
        <!-- Add other banner items here -->
        <div class="banner-item">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="banner-item-content">
                            <h1>Master Chef Secrets</h1>
                            <p>
                                Unlock the culinary secrets of renowned master chefs as they share their expert tips, techniques, and signature recipes to help you elevate your cooking skills to new heights.
                            </p>
                            <div class="banner-btn">
                                <a href="@Url.Action("AboutUs","FlavourFusion")" class="default-btn">Learn More</a>
                                <a href="@Url.Action("Contact","FlavourFusion")" class="default-btn two">Contact Us</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 pe-0">
                        <div class="banner-item-img">
                            <img src="/Template/assets/images/home-two/the-home-two-img2.png" alt="Banner Images">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner-item">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="banner-item-content">
                            <h1>Seasonal Sensations</h1>
                            <p>
                                Celebrate the beauty of each season with our collection of seasonal recipes, using the freshest ingredients to create mouthwatering dishes that capture the essence of nature's bounty.
                            </p>
                            <div class="banner-btn">
                                <a href="@Url.Action("AboutUs","FlavourFusion")" class="default-btn">Learn More</a>
                                <a href="@Url.Action("Contact","FlavourFusion")" class="default-btn two">Contact Us</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 pe-0">
                        <div class="banner-item-img">
                            <img src="/Template/assets/images/home-two/the-home-two-img3.png" alt="Banner Images">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-shape-two">
        <img src="/Template/assets/images/shape/shape1.png" alt="Banner Images" height="30" width="30">
        <img src="/Template/assets/images/shape/shape2.png" alt="Banner Images">
    </div>
</div>

<div class="banner-bottom-area pt-100 pb-70">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6">
                <div class="banner-bottom-card">
                    <i class="flaticon-calendar-1"></i>
                    <h3>Quick and Easy Recipes</h3>
                    <p>
                        Discover a collection of hassle-free recipes that are perfect for busy days. From 30-minute meals to one-pot wonders, these quick and easy recipes will satisfy your cravings without compromising on flavor. Whether you're a novice cook or a seasoned chef.
                    </p>
                    <a href="@Url.Action("AboutUs","FlavourFusion")" class="learn-btn">Learn More</a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="banner-bottom-card">
                    <i class="flaticon-diet"></i>
                    <h3>Healthy and Nourishing Dishes</h3>
                    <p>
                        Nourish your body with our selection of wholesome and nutritious dishes. Explore a range of recipes that prioritize fresh ingredients, balanced flavors, and mindful cooking techniques, helping you maintain a healthy lifestyle.
                    </p>
                    <a href="@Url.Action("AboutUs","FlavourFusion")" class="learn-btn">Learn More</a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="banner-bottom-card">
                    <i class="flaticon-plan"></i>
                    <h3>Indulgent Desserts and Treats</h3>
                    <p>
                        Satisfy your sweet tooth with our indulgent desserts and treats. From decadent chocolate creations to fruity delights, we have a wide array of dessert recipes that will delight your taste buds and impress your guests.
                    </p>
                    <a href="@Url.Action("AboutUs","FlavourFusion")" class="learn-btn">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="about-area-two pb-70" style="margin-top: 15px;margin-bottom: 15px;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-content-two">
                    <div class="section-title">
                        <span>About Us</span>
                        <h2>Our Culinary Journey</h2>
                        <p>
                            At FlavourFusion, we are passionate about the art of cooking and the joy it brings to our lives. Our culinary journey began with a simple desire to share our love for food and flavors with the world. Through our carefully curated recipes, expert tips, and informative articles, we aim to inspire and empower home cooks of all levels to explore their creativity in the kitchen. Join us on this delicious adventure as we celebrate the magic of cooking and the incredible connections it creates.
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="about-content-item">
                                <i class="flaticon-diet"></i>
                                <h3>Chef-Approved Recipes</h3>
                                <p>
                                    Our collection of chef approved recipes sets us apart. We collaborate with talented culinary experts to bring you tried and tested recipes that guarantee exceptional results.crafted, ensuring that every bite is a delightful culinary experience.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="about-content-item">
                                <i class="flaticon-exercise"></i>
                                <h3>Food Education and Inspiration</h3>
                                <p>
                                    We go beyond recipes to provide comprehensive food education and inspiration. Our platform offers informative articles, cooking tips, and techniques that empower you to expand your culinary knowledge.
                                </p>
                            </div>
                        </div>
                    </div>
                    <a href="@Url.Action("AboutUs","FlavourFusion")" class="default-btn">Read More</a>
                </div>
            </div>
            <div class="col-lg-6 pe-0">
                <div class="about-img">
                    <img src="/Template/assets/images/about/the-about-img2.jpg" alt="Images" width="460" style="border-radius:11px;margin-left:30px;">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="team-area pb-70">
    <div class="container">
        <div class="section-title text-center">
            <span>Our Team</span>
            <h2>Our Technical Team</h2>
        </div>
        <div class="row pt-45 justify-content-center">
            <div class="col-lg-3 col-sm-6">
                <div class="team-card active">
                    <div class="team-img">
                        <a href="team.html">
                            <img src="/Template/assets/images/team/team-img1.png" alt="Team Images">
                        </a>
                    </div>
                    <div class="content">
                        <h3><a href="#">Mehroz Khan</a></h3>
                        <span>Full Stack Developer</span>
                        <ul class="team-social">
                            <li>
                                <a href="https://www.facebook.com/" target="_blank">
                                    <i class='bx bxl-facebook'></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/" target="_blank">
                                    <i class='bx bxl-instagram'></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/" target="_blank">
                                    <i class='bx bxl-twitter'></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/" target="_blank">
                                    <i class='bx bxl-youtube'></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Add more team members here -->

            <div class="col-lg-3 col-sm-2">
                <div class="team-card active">
                    <div class="team-img">
                        <a href="#">
                            <img src="/Template/assets/images/team/team-img3.jpg" alt="Team Images">
                        </a>
                    </div>
                    <div class="content">
                        <h3><a href="#">Ahsan Ashraf</a></h3>
                        <span>Web Developer</span>
                        <ul class="team-social">
                            <li>
                                <a href="https://www.facebook.com/" target="_blank">
                                    <i class='bx bxl-facebook'></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/" target="_blank">
                                    <i class='bx bxl-instagram'></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/" target="_blank">
                                    <i class='bx bxl-twitter'></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/" target="_blank">
                                    <i class='bx bxl-youtube'></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-2">
                <div class="team-card active">
                    <div class="team-img">
                        <a href="#">
                            <img src="/Template/assets/images/team/team-img4.jpg" alt="Team Images">
                        </a>
                    </div>
                    <div class="content">
                        <h3><a href="#">Abdul Sami</a></h3>
                        <span>Web Developer</span>
                        <ul class="team-social">
                            <li>
                                <a href="https://www.facebook.com/" target="_blank">
                                    <i class='bx bxl-facebook'></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/" target="_blank">
                                    <i class='bx bxl-instagram'></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/" target="_blank">
                                    <i class='bx bxl-twitter'></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/" target="_blank">
                                    <i class='bx bxl-youtube'></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="team-card active">
                    <div class="team-img">
                        <a href="#">
                            <img src="/Template/assets/images/team/team-img4.jpg" alt="Team Images">
                        </a>
                    </div>
                    <div class="content">
                        <h3><a href="#">Saad Arif</a></h3>
                        <span>Full Stack Web Developer</span>
                        <ul class="team-social">
                            <li>
                                <a href="https://www.facebook.com/" target="_blank">
                                    <i class='bx bxl-facebook'></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/" target="_blank">
                                    <i class='bx bxl-instagram'></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/" target="_blank">
                                    <i class='bx bxl-twitter'></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/" target="_blank">
                                    <i class='bx bxl-youtube'></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="team-card active">
                    <div class="team-img">
                        <a href="#">
                            <img src="/Template/assets/images/team/team-img2.jpg" alt="Team Images">
                        </a>
                    </div>
                    <div class="content">
                        <h3><a href="#">Taha Kashif</a></h3>
                        <span>Data Analysis & Database Management </span>
                        <ul class="team-social">
                            <li>
                                <a href="https://www.facebook.com/" target="_blank">
                                    <i class='bx bxl-facebook'></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/" target="_blank">
                                    <i class='bx bxl-instagram'></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/" target="_blank">
                                    <i class='bx bxl-twitter'></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/" target="_blank">
                                    <i class='bx bxl-youtube'></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="team-card active">
                    <div class="team-img">
                        <a href="#">
                            <img src="/Template/assets/images/team/team-img3.jpg" alt="Team Images">
                        </a>
                    </div>
                    <div class="content">
                        <h3><a href="#">Ameen Ansari</a></h3>
                        <span>Web Developer</span>
                        <ul class="team-social">
                            <li>
                                <a href="https://www.facebook.com/" target="_blank">
                                    <i class='bx bxl-facebook'></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/" target="_blank">
                                    <i class='bx bxl-instagram'></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/" target="_blank">
                                    <i class='bx bxl-twitter'></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/" target="_blank">
                                    <i class='bx bxl-youtube'></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="work-area pt-100 pb-70">
    <div class="container">
        <div class="section-title text-center">
            <span>How It Works</span>
            <h2>4 Simple Steps to Discover Amazing Recipes</h2>
        </div>
        <div class="row pt-45 justify-content-center">
            <div class="col-lg-3 col-sm-6">
                <div class="work-card work-bg1">
                    <div class="content">
                        <i class="flaticon-contact-book"></i>
                        <h3>Contact Us</h3>
                        <p>
                            Feel free to reach out to us if you have any questions, suggestions, or want to share your favorite recipes. Our team is here to assist you or guide you step by step.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="work-card work-bg2">
                    <div class="content">
                        <i class="flaticon-calendar-1"></i>
                        <h3>Explore Recipes</h3>
                        <p>
                            Discover a wide range of recipes created by our experienced chefs. Start your culinary journey today and try new flavors and also share them in your social media!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="work-card work-bg3">
                    <div class="content">
                        <i class="flaticon-research"></i>
                        <h3>Experiment</h3>
                        <p>
                            Put your own twist or magic in our recipes! Feel free to experiment with different ingredients and make unique cooking techniques to create amazing unique dishes.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="work-card work-bg4">
                    <div class="content">
                        <i class="flaticon-happiness"></i>
                        <h3>Enjoy the Delights</h3>
                        <p>
                            Indulge in the pleasure of cooking and savoring delicious meals. Share your culinary creations with loved ones and experience the joy that comes with good food.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="about-area pt-100 pb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-content">
                    <div class="section-title">
                        <span>About Us</span>
                        <h2 style="font-weight:600;">Embrace the Flavors and Delights of Culinary Artistry</h2>
                        <p>
                            Welcome to our cooking website, a place dedicated to the art of cooking and the exploration of culinary delights. We are deeply passionate about sharing mouthwatering recipes, invaluable cooking tips, and innovative culinary techniques to ignite your creativity in the kitchen.
                            Whether you're an experienced chef or just starting your culinary journey, our platform is tailored to meet all skill levels. From quick and easy family meals to exquisite gourmet creations, we offer a diverse range of recipes that are both accessible and sure to leave a lasting impression.
                        </p>
                    </div>
                    <h3>Our Special Features</h3>
                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            <div class="about-list">
                                <ul>
                                    <li><i class="bx bx-chevrons-right"></i> Flavorful Recipes</li>
                                    <li><i class="bx bx-chevrons-right"></i> Culinary Techniques</li>
                                    <li><i class="bx bx-chevrons-right"></i> Creative Meal Ideas</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="about-list">
                                <ul>
                                    <li><i class="bx bx-chevrons-right"></i> Seasonal Ingredients</li>
                                    <li><i class="bx bx-chevrons-right"></i> Kitchen Gadgets</li>
                                    <li><i class="bx bx-chevrons-right"></i> Cooking Tips and Tricks</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-play-btn">
                    <a href="https://www.youtube.com/watch?v=Zd00oIDAt60" class="play-btn">
                        <i class="bx bxs-right-arrow"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="about-shape">
        <img src="/Template/assets/images/shape/shape2.png" alt="About Images" style="position:relative;top:40px;left:20px;">
        <img src="/Template/assets/images/shape/shape3.png" alt="About Images" style="margin-left:510px;margin-top:60px;">
    </div>
</div>


<style>
    .thecontainer {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        margin-top: 40px;
        background-color: white;
        box-shadow: rgba(17, 12, 46, 0.04) 0px 48px 100px 0px;
        height: 60px;
        margin-bottom: 50px;
        border-radius: 8px;
        border: 0.1px solid rgb(255, 132, 0);
        width: 550px;
    }

    .category-list {
        text-align: center;
        align-items: center;
        list-style: none;
        margin-top: 50px;
        padding: 0;
    }

        .category-list li {
            display: inline-block;
            margin-right: 10px;
            margin-bottom: 8px;
            padding: 8px;
            background: white;
            transition: 0.4s;
        }

            .category-list li a {
                font-size: 22px;
                color: black;
                text-decoration: none;
                transition: 0.2s;
                font-weight: 500;
            }

                .category-list li a:hover {
                    color: white;
                }

            .category-list li:hover {
                border-radius: 5px;
                padding: 10px;
                color: white;
                background: rgb(255, 132, 0);
                box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
            }
</style>


<div class="diet-plan-area pt-100 pb-70">
    <div class="container">
        <div class="section-title text-center">
            <span>Recipe Categories</span>
            <h2>Our Best Categories</h2>
        </div>
        <div class="tab diet-tab pt-45">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="category-list">
                        @foreach (var category in Model.Categories)
                        {
                            <li>
                                @Html.ActionLink(category.category_name, "Recipies", "FlavourFusion", new { id = category.category_id }, new { @class = "category-link active" })
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="services-area pt-100 pb-70">
    <div class="container">
        <div class="section-title text-center">
            <span>What We Offer</span>
            <h2>Our Services</h2>
        </div>
        <div class="row pt-45 justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="services-card">
                        <img src="/Template/assets/images/services/services-img1.jpg" alt="Images">
                    <div class="content">
                        <h3>
                            <a href="service-details.html">Recipe Collection</a>
                        </h3>
                        <p>
                            Explore our extensive collection of delicious recipes to inspire your culinary creations. From quick and easy meals to gourmet delights, our recipe collection has something for everyone. Discover new flavors and techniques to elevate your cooking skills and impress your family and friends.
                        </p>
                        <a href="@Url.Action("AboutUs","FlavourFusion")" class="learn-btn">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="services-card">
                        <img src="/Template/assets/images/services/services-img2.jpg" alt="Images">
                    <div class="content">
                        <h3>
                            <a href="service-details.html">Kitchen Tips and Tricks</a>
                        </h3>
                        <p>
                            Master your cooking skills with our expert kitchen tips and tricks. Learn time-saving techniques, ingredient substitutions, cooking hacks, and more great tips. Our tips will help you become a confident and efficient cook, making your time in the kitchen enjoyable and rewarding so make your amazing dish now.
                        </p>
                        <a href="@Url.Action("AboutUs","FlavourFusion")" class="learn-btn">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="services-card">
                        <img src="/Template/assets/images/services/services-img3.jpg" alt="Images">
                    <div class="content">
                        <h3>
                            <a href="service-details.html">Meal Planning</a>
                        </h3>
                        <p>
                            Simplify your life with our meal planning service. Let us take the guesswork out of your daily meals by providing you with nutritious and delicious meal plans. Whether you're looking for quick weekday dinners or special weekend menus, our meal plans will help you save time, reduce stress, and eat well-balanced meals.
                        </p>
                        <a href="@Url.Action("AboutUs","FlavourFusion")" class="learn-btn">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="pricing-area pt-100 pb-70">
    <div class="container">
        <div class="section-title text-center">
            <span>Pricing Plans</span>
            <h2>Choose Your Subscription</h2>
        </div>
        <div class="row pt-45 justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="pricing-card">
                    <div class="pricing-title">
                        <h3>$20/month</h3>
                        <h5>Basic</h5>
                    </div>
                    <ul>
                        <li><i class='bx bx-check'></i> Access to Recipe Collection</li>
                        <li><i class='bx bx-check'></i> Weekly Meal Plans</li>
                        <li><i class='bx bx-check'></i> Cooking Tips & Tricks</li>
                        <li><i class='bx bx-check'></i> Community Forum Access</li>
                        <li><i class='bx bx-check'></i> Personalized Shopping List</li>
                        <li><i class='bx bx-check'></i> Nutrition Information</li>
                        <li><i class='bx bx-check'></i> Member Discounts</li>
                        <li><i class='bx bx-check'></i> 24/7 Support</li>
                    </ul>
                    <div class="price-btn-area text-center">
                        <a href="@Url.Action("Pricing","FlavourFusion")" class="default-btn">Buy Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="pricing-card">
                    <div class="pricing-title">
                        <h3>$35/month</h3>
                        <h5>Premium</h5>
                    </div>
                    <ul>
                        <li><i class='bx bx-check'></i> Access to Recipe Collection</li>
                        <li><i class='bx bx-check'></i> Weekly Meal Plans</li>
                        <li><i class='bx bx-check'></i> Cooking Tips & Tricks</li>
                        <li><i class='bx bx-check'></i> Personalized Shopping List</li>
                        <li><i class='bx bx-check'></i> Monthly Cooking Webinars</li>
                        <li><i class='bx bx-check'></i> Member Discounts</li>
                        <li><i class='bx bx-check'></i> Exclusive Recipes</li>
                        <li><i class='bx bx-check'></i> 24/7 Support</li>
                    </ul>
                    <div class="price-btn-area text-center">
                        <a href="@Url.Action("Pricing","FlavourFusion")" class="default-btn">Buy Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="pricing-card">
                    <div class="pricing-title">
                        <h3>$50/month</h3>
                        <h5>Deluxe</h5>
                    </div>
                    <ul>
                        <li><i class='bx bx-check'></i> Exclusive Recipes</li>
                        <li><i class='bx bx-check'></i> Personalized Shopping List</li>
                        <li><i class='bx bx-check'></i> Nutrition Information</li>
                        <li><i class='bx bx-check'></i> Member Discounts</li>
                        <li><i class='bx bx-check'></i> Monthly Cooking Webinars</li>
                        <li><i class='bx bx-check'></i> Access to Premium Recipes</li>
                        <li><i class='bx bx-check'></i> Personalized Chef Consultation</li>
                        <li><i class='bx bx-check'></i> 24/7 Support</li>
                    </ul>
                    <div class="price-btn-area text-center">
                        <a href="@Url.Action("Pricing","FlavourFusion")" class="default-btn">Buy Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="blog-area pt-100 pb-70">
    <div class="container">
        <div class="section-title text-center">
            <span>From Master Chef</span>
            <h2>Our Latest Recipes</h2>
        </div>
        <div class="row pt-45">
            <div class="col-lg-6">
                @if (Model.Recipes.Count > 0)
                {
                    var recipe = Model.Recipes[0];
                    <div class="blog-card">
                        <div class="blog-img">
                            @if (!string.IsNullOrEmpty(recipe.recipe_image))
                            {
                                var imagePaths = recipe.recipe_image.Split(new[] { ',' }, StringSplitOptions.RemoveEmptyEntries);
                                var firstImagePath = Url.Content(imagePaths[0]);
                                <a href="blog-details.html">
                                    <img src="@firstImagePath" alt="Blog Images" style="border-radius:15px;">
                                </a>
                            }
                        </div>
                        <div class="content">
                            <h3><a href="@Url.Action("DisplayRecipe","FlavourFusion")">@recipe.recipe_name</a></h3>
                            <p>@(recipe.recipe_description.Length > 300 ? recipe.recipe_description.Substring(0, 300) + "..." : recipe.recipe_description)</p>
                            <a href="blog-details.html" class="read-btn">Read More</a>
                        </div>
                    </div>
                }
            </div>
            <div class="col-lg-6">
                <div class="row">
                    @if (Model.Recipes.Count > 1)
                    {
                        for (int i = 1; i < Model.Recipes.Count && i <= 2; i++)
                        {
                            var recipe = Model.Recipes[i];
                            <div class="col-lg-12" style="margin-top:50px;">
                                <div class="blog-side-content">
                                    @if (!string.IsNullOrEmpty(recipe.recipe_image))
                                    {
                                        var imagePaths = recipe.recipe_image.Split(new[] { ',' }, StringSplitOptions.RemoveEmptyEntries);
                                        var imagePath = Url.Content(imagePaths[0]);
                                        <div class="blog-side-img blog-side@(i+1)">
                                            <img src="@imagePath" alt="Blog Images" style="border-radius:15px;">
                                        </div>
                                    }
                                    <div class="content">
                                        <h3><a href="@Url.Action("DisplayRecipe","FlavourFusion")">@recipe.recipe_name</a></h3>
                                        <p>@(recipe.recipe_description.Length > 200 ? recipe.recipe_description.Substring(0, 200) + "..." : recipe.recipe_description)</p>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="testimonials-area ptb-100" style="margin:10px;border-radius:12px;">
    <div class="container">
        <div class="testimonials-slider owl-carousel owl-theme owl-loaded">
            <div class="owl-stage-outer owl-height" style="height: 352.8px;">
                <div class="owl-stage" style="transform: translate3d(-2898px, 0px, 0px); transition: all 0.25s ease 0s; width: 6762px;">
                    <div class="owl-item cloned" style="width: 936px; margin-right: 30px;">
                        <div class="testimonials-item">
                            <div class="section-title text-center">
                                <span>Testimonials</span>
                                <h2>Customer Satisfaction</h2>
                            </div>
                            <i class="bx bxs-quote-left"></i>
                            <p>
                                The recipes on this cooking website are absolutely fantastic! I've tried several of them, and they always turn out delicious. The step-by-step instructions are easy to follow, and the variety of dishes is impressive. I highly recommend this website to all food lovers out there!
                            </p>
                            <div class="content">
                                <h3>John Smith</h3>
                                <span>Food Enthusiast</span>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item cloned" style="width: 936px; margin-right: 30px;">
                        <div class="testimonials-item">
                            <div class="section-title text-center">
                                <span>Testimonials</span>
                                <h2>Customer Satisfaction</h2>
                            </div>
                            <i class="bx bxs-quote-left"></i>
                            <p>
                                The cooking tips and tricks shared on this website have elevated my culinary skills to a whole new level. I've learned valuable techniques that have improved the taste and presentation of my dishes. The content is informative, well-explained, and accompanied by beautiful visuals. Kudos to the team behind this amazing resource!
                            </p>
                            <div class="content">
                                <h3>Emily Johnson</h3>
                                <span>Cooking Enthusiast</span>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item" style="width: 936px; margin-right: 30px;">
                        <div class="testimonials-item">
                            <div class="section-title text-center">
                                <span>Testimonials</span>
                                <h2>Customer Satisfaction</h2>
                            </div>
                            <i class="bx bxs-quote-left"></i>
                            <p>
                                This cooking website is a treasure trove of culinary inspiration. The recipes are diverse, well-curated, and offer something for everyone. Whether you're a beginner or an experienced cook, you'll find plenty of mouthwatering options to explore. I'm grateful for this platform that has made cooking an enjoyable and rewarding experience!
                            </p>
                            <div class="content">
                                <h3>Lisa Anderson</h3>
                                <span>Home Chef</span>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item active" style="width: 936px; margin-right: 30px;">
                        <div class="testimonials-item">
                            <div class="section-title text-center">
                                <span>Testimonials</span>
                                <h2>Customer Satisfaction</h2>
                            </div>
                            <i class="bx bxs-quote-left"></i>
                            <p>
                                The recipe collection on this website is simply outstanding! I love how they provide detailed instructions, ingredient lists, and even nutritional information for each dish. It's a reliable source for finding new recipes and exploring different cuisines. I'm impressed by the quality and variety of content available here.
                            </p>
                            <div class="content">
                                <h3>Michael Wilson</h3>
                                <span>Food Lover</span>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item" style="width: 936px; margin-right: 30px;">
                        <div class="testimonials-item">
                            <div class="section-title text-center">
                                <span>Testimonials</span>
                                <h2>Customer Satisfaction</h2>
                            </div>
                            <i class="bx bxs-quote-left"></i>
                            <p>
                                This cooking website has become my go-to resource for meal ideas. The recipes are well-tested, and the results are consistently excellent. The step-by-step instructions, along with helpful tips and variations, make it easy to customize dishes to my liking. I've learned so much from this platform and can't recommend it enough!
                            </p>
                            <div class="content">
                                <h3>Sarah Thompson</h3>
                                <span>Cooking Enthusiast</span>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item cloned" style="width: 936px; margin-right: 30px;">
                        <div class="testimonials-item">
                            <div class="section-title text-center">
                                <span>Testimonials</span>
                                <h2>Customer Satisfaction</h2>
                            </div>
                            <i class="bx bxs-quote-left"></i>
                            <p>
                                The recipe selection on this website is top-notch! From quick and easy meals to gourmet creations, there's something for everyone. The clear instructions, helpful videos, and stunning food photography make it a joy to explore. I'm grateful for this platform that has expanded my culinary horizons and made cooking more enjoyable than ever before!
                            </p>
                            <div class="content">
                                <h3>David Brown</h3>
                                <span>Food Enthusiast</span>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item cloned" style="width: 936px; margin-right: 30px;">
                        <div class="testimonials-item">
                            <div class="section-title text-center">
                                <span>Testimonials</span>
                                <h2>Customer Satisfaction</h2>
                            </div>
                            <i class="bx bxs-quote-left"></i>
                            <p>
                                This cooking website has revolutionized the way I cook! The recipes are creative, well-explained, and always turn out delicious. The site's user-friendly interface and comprehensive search options make it easy to find the perfect dish for any occasion. I'm constantly inspired by the incredible array of recipes available here.
                            </p>
                            <div class="content">
                                <h3>Jessica Miller</h3>
                                <span>Home Chef</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="testimonial-widget-area pt-100 pb-70">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="testimonial-card">
                    <div class="content">
                        <img src="/Template/assets/images/testimonials/testimonial-profile1.jpg" alt="Testimonials Images">
                        <h3>Emily Davis</h3>
                        <span>Home Cook</span>
                    </div>
                    <div class="rating">
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                    </div>
                    <p>
                        The recipes on FlavourFusion have transformed my cooking skills. I've tried numerous dishes and each one has been a hit with my family. The instructions are clear and easy to follow, and the results are always delicious. I highly recommend this website to anyone looking to enhance their culinary journey.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="testimonial-card">
                    <div class="content">
                        <img src="/Template/assets/images/testimonials/testimonial-profile2.jpg" alt="Testimonials Images">
                        <h3>William Anderson</h3>
                        <span>Food Enthusiast</span>
                    </div>
                    <div class="rating">
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                    </div>
                    <p>
                        I've been using FlavourFusion for a while now, and it has become my go-to resource for new recipes. The variety of dishes is impressive, and the step-by-step instructions make it easy to recreate them. Whether you're a beginner or an experienced cook, this website has something for everyone.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="testimonial-card">
                    <div class="content">
                        <img src="/Template/assets/images/testimonials/testimonial-profile3.jpg" alt="Testimonials Images">
                        <h3>Samantha Roberts</h3>
                        <span>Culinary Artist</span>
                    </div>
                    <div class="rating">
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                    </div>
                    <p>
                        As a professional chef, I'm always on the lookout for inspiration and new ideas. The FlavourFusion never fails to impress me. The recipes are innovative, the presentation is stunning, and the flavors are exceptional. It's a treasure trove for any culinary enthusiast or aspiring chef.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="subscribe" style="background-image: url(../../Template/assets/images/THEBG.png);background-size:cover;">
    <h1 class="subscribe__title" style="font-size:50px;">Let's keep in touch</h1>
    <p class="subscribe__copy">Subscribe to keep up with fresh news and exciting updates. We promise not to spam you!</p>
    <div class="form">
        <input type="email" class="form__email" placeholder="Enter your email address" />
        <button class="form__button" style="font-size:25px;">Send</button>
    </div>
</div>
