﻿@using PagedList.Mvc
@model PagedList.IPagedList<FlavourFusion.Models.Tbl_Recipe>
@{
    var categoryName = ViewData["CategoryName"] as string;
}
<head>
    <title>Our All Recipes - FlavourFusion</title>
</head>
<style>
    .recent-recipe-area {
        background: none;
    }

    .thecontainer {
        padding: 15px;
        background-color: white;
        height: 60px;
        border-radius: 8px;
        border: 0.1px solid rgb(255, 132, 0);
        width: 550px;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: auto;
        margin-right: auto;
    }
</style>

<div class="inner-banner inner-bg5">
    <div class="container">
        <div class="inner-title text-center">
            <h3>Recipe</h3>
            <ul>
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li>Recipe</li>
            </ul>
        </div>
    </div>
</div>

<div class="recent-recipe-area pt-100 pb-70">
    <div class="container">
        <div class="section-title text-center">
            @if (categoryName != null)
            {
                <span>Best Recipes in @categoryName </span>
                <h2 style="font-weight:600">Our @categoryName Recipes</h2>
            }
            else
            {
                <h2>The Recipes</h2>
            }
        </div>
    </div>
    <div class="container">
        <div class="row pt-45 justify-content-center">
            <div class="col-lg-12 text-center">
                @if (ViewBag.ShowLoginMessage)
                {
                    <p style="font-weight: 500; font-size: 21px;">Please <a href="@Url.Action("Login","FlavourFusion")">Login</a> To View Recipes.</p>
                }
                else
                {
                    <div class="row">
                        @if (Model.Count > 0)
                        {
                            foreach (var recipe in Model)
                            {
                                <div class="col-lg-4 col-md-6">
                                    <div class="recent-recipe-item">
                                        <a href="@Url.Action("RecipeDetails","FlavourFusion", new { id = recipe.recipe_id})">
                                            @if (!string.IsNullOrEmpty(recipe.recipe_image))
                                            {
                                                var imagePaths = recipe.recipe_image.Split(new[] { ',' }, StringSplitOptions.RemoveEmptyEntries);
                                                var firstImagePath = Url.Content(imagePaths[0]);
                                                <img src="@firstImagePath" alt="Blog Images" style="border-radius:15px;">
                                            }
                                        </a>
                                        <div class="content">
                                            <h3><a href="#">@Html.ActionLink(recipe.recipe_name, "RecipeDetails", new { id = recipe.recipe_id }, new { style = "text-decoration:none;" })</a></h3>
                                            <div class="rating">
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                                <i class='bx bxs-star'></i>
                                            </div>
                                            <p>@(recipe.recipe_description.Length > 300 ? recipe.recipe_description.Substring(0, 300) + "..." : recipe.recipe_description)</p>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <div class="col-lg-12">
                                <div class="thecontainer">
                                    <p><span style="font-weight: 800;">Note: </span>No recipes found for this category.</p>
                                </div>
                            </div>
                        }
                    </div>

                    <div class="col-lg-12 text-center">
                        <div class="thecontainer">
                            @if (ViewBag.MembershipPlanId == 1)
                            {
                                <p><span style="font-weight: 800;">Note: </span>Upgrade To Premium Plan To View More Recipes.</p>
                            }
                            else if (ViewBag.MembershipPlanId == 2)
                            {
                                <p><span style="font-weight: 800;">Note: </span>You're Using Premium Plan Enjoy All Exclusive Recipes.</p>
                            }
                            else
                            {
                                <p><span style="font-weight: 800;">Note: </span>Sign Up For A Membership Plan To Unlock More Recipes.</p>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <nav style="margin-top: 50px;">
        <ul class="pagination pagination-md justify-content-center">
            <li class="page-item @(Model.PageNumber == 1 ? "disabled" : "")" style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
                <a class="page-link" href="@Url.Action("Recipies", new { page = Model.PageNumber - 1 })" id="thefirstlink">Previous</a>
            </li>
            @for (int i = 1; i <= Model.PageCount; i++)
            {
                <li class="page-item @(Model.PageNumber == i ? "active" : "")" style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
                    <a class="page-link" href="@Url.Action("Recipies", new { page = i })" id="thefirstlink">@i</a>
                </li>
            }
            <li class="page-item @(Model.PageNumber == Model.PageCount ? "disabled" : "")" style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
                <a class="page-link" href="@Url.Action("Recipies", new { page = Model.PageNumber + 1 })" id="thefirstlink">Next</a>
            </li>
        </ul>
    </nav>
</div>



<div class="recipe-video-area pt-100 pb-70">
    <div class="container">
        <div class="section-title text-center">
            <span> Recipe Video</span>
            <h2 style="font-weight:600;">Our Free Best Video Recipe Picks</h2>
        </div>
        <div class="row pt-45">

            <div class="col-lg-12">
                <div class="recipe-video-card">
                    <iframe width="1115" height="415" src="https://www.youtube.com/embed/L9ZuTQGPTnI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
                    </iframe>
                    <div class="content">
                        <h3><a href="recipe-details.html">Vegetable with Tomato Salad</a></h3>
                        <ul>
                            <li><i class='bx bx-time-five'></i> 60 Minutes</li>
                            <li><i class='bx bx-check'></i> 3 Steps</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="row">

                    <div class="col-lg-6 col-md-6">
                        <div class="recipe-video-list">
                            <a href="https://www.youtube.com/watch?v=yz0r0huhKeI" class="btn-play">
                                <img src="/Template/assets/images/recipe-img/recipe-side-img1.jpg" alt="Images">
                            </a>
                            <div class="content">
                                <h3><a href="https://www.youtube.com/watch?v=yz0r0huhKeI">Vegetable Sauce</a></h3>
                                <ul>
                                    <li><i class='bx bx-time-five'></i> 60 Minutes</li>
                                    <li><i class='bx bx-check'></i> 3 Steps</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="recipe-video-list">
                            <a href="https://www.youtube.com/watch?v=yz0r0huhKeI" class="btn-play">
                                <img src="/Template/assets/images/recipe-img/recipe-side-img3.jpg" alt="Images">
                            </a>
                            <div class="content">
                                <h3><a href="https://www.youtube.com/watch?v=yz0r0huhKeI">Egg Pouch</a></h3>
                                <ul>
                                    <li><i class='bx bx-time-five'></i> 5 Minutes</li>
                                    <li><i class='bx bx-check'></i> 2 Steps</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="recipe-video-list">
                            <a href="https://www.youtube.com/watch?v=yz0r0huhKeI" class="btn-play">
                                <img src="/Template/assets/images/recipe-img/recipe-side-img2.jpg" alt="Images">
                            </a>
                            <div class="content">
                                <h3><a href="https://www.youtube.com/watch?v=yz0r0huhKeI">Chocolate Chip</a></h3>
                                <ul>
                                    <li><i class='bx bx-time-five'></i> 40 Minutes</li>
                                    <li><i class='bx bx-check'></i> 4 Steps</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="recipe-video-list">
                            <a href="https://www.youtube.com/watch?v=yz0r0huhKeI" class="btn-play">
                                <img src="/Template/assets/images/recipe-img/recipe-side-img4.jpg" alt="Images">
                            </a>
                            <div class="content">
                                <h3><a href="https://www.youtube.com/watch?v=yz0r0huhKeI">Beef Stack</a></h3>
                                <ul>
                                    <li><i class='bx bx-time-five'></i> 50 Minutes</li>
                                    <li><i class='bx bx-check'></i> 3 Steps</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="recipe-video-list">
                            <a href="https://www.youtube.com/watch?v=yz0r0huhKeI" class="btn-play">
                                <img src="/Template/assets/images/recipe-img/recipe-side-img5.jpg" alt="Images">
                            </a>
                            <div class="content">
                                <h3><a href="https://www.youtube.com/watch?v=yz0r0huhKeI">Vegetable Salad</a></h3>
                                <ul>
                                    <li><i class='bx bx-time-five'></i> 70 Minutes</li>
                                    <li><i class='bx bx-check'></i> 5 Steps</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="recipe-video-list">
                            <a href="https://www.youtube.com/watch?v=yz0r0huhKeI" class="btn-play">
                                <img src="/Template/assets/images/recipe-img/recipe-side-img6.jpg" alt="Images">
                            </a>
                            <div class="content">
                                <h3><a href="https://www.youtube.com/watch?v=yz0r0huhKeI">Vegetable Sauce</a></h3>
                                <ul>
                                    <li><i class='bx bx-time-five'></i> 40 Minutes</li>
                                    <li><i class='bx bx-check'></i> 3 Steps</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="recipe-video-list">
                            <a href="https://www.youtube.com/watch?v=yz0r0huhKeI" class="btn-play">
                                <img src="/Template/assets/images/recipe-img/recipe-side-img7.jpg" alt="Images">
                            </a>
                            <div class="content">
                                <h3><a href="https://www.youtube.com/watch?v=yz0r0huhKeI">Vegan Food</a></h3>
                                <ul>
                                    <li><i class='bx bx-time-five'></i> 60 Minutes</li>
                                    <li><i class='bx bx-check'></i> 2 Steps</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="recipe-video-list">
                            <a href="https://www.youtube.com/watch?v=yz0r0huhKeI" class="btn-play">
                                <img src="/Template/assets/images/recipe-img/recipe-side-img8.jpg" alt="Images">
                            </a>
                            <div class="content">
                                <h3><a href="https://www.youtube.com/watch?v=yz0r0huhKeI">Strawberry Juice</a></h3>
                                <ul>
                                    <li><i class='bx bx-time-five'></i> 60 Minutes</li>
                                    <li><i class='bx bx-check'></i> 2 Steps</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>