@model FlavourFusion.Models.RecipeDetailViewModel
<head>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet">
    <style>
        body {
            font-family: 'Poppins', sans-serif;
        }

        #recipeCarousel {
            position: relative;
            background-color: none;
        }

        .carousel-control-prev-icon,
        .carousel-control-next-icon {
            color: white;
            font-size: 50px;
        }
    </style>
</head>
<body>
    <div class="recipe-details-area pt-100 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="recipe-details-content">
                        <div class="recipe-preview-img">
                            <div id="recipeCarousel" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    @if (!string.IsNullOrEmpty(Model.Recipe.recipe_image))
                                    {
                                        var imagePaths = Model.Recipe.recipe_image.Split(new[] { ',' }, StringSplitOptions.RemoveEmptyEntries);
                                        for (int i = 0; i < imagePaths.Length; i++)
                                        {
                                            var imageUrl = Url.Content(imagePaths[i]);
                                            var activeClass = i == 0 ? "active" : "";
                                            <div class="carousel-item @activeClass">
                                                <img src="@imageUrl" style="box-shadow: rgba(17, 12, 46, 0.08) 0px 48px 100px 0px; border-radius: 8px;" />
                                            </div>
                                        }
                                    }
                                </div>
                                <a class="carousel-control-prev" href="#recipeCarousel" role="button" data-slide="prev">
                                    <i class="ri-arrow-left-double-line" aria-hidden="true" style="font-size:70px;color:white;"></i>
                                </a>
                                <a class="carousel-control-next" href="#recipeCarousel" role="button" data-slide="next">
                                    <i class="ri-arrow-right-double-line" aria-hidden="true" style="font-size:70px;color:white;"></i>
                                </a>
                            </div>
                        </div>
                        <ul class="tag-list">
                            <li><i class='bx bx-calendar'></i> @Model.Recipe.recipe_publish_date </li>
                            <li><i class='bx bx-comment-dots'></i> @Model.Comments.Count() Comments </li>
                        </ul>
                        <h2>@Model.Recipe.recipe_name</h2>
                        <div class="rating">
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                        </div>
                        <p>@Model.Recipe.recipe_description)</p>
                        <ul class="recipe-tag-list">
                            @if (!string.IsNullOrEmpty(Model.Recipe.recipe_ingredients))
                            {
                                <li><i class='bx bx-dish'></i>@Model.Recipe.recipe_ingredients.ToString() ingredients</li>
                            }
                            <li><i class='bx bx-time-five'></i> @Model.Recipe.recipe_duration.ToString() Minutes</li>
                            <li><i class='bx bxs-user-pin'></i> @Model.Recipe.recipe_serving_people.ToString() People</li>
                        </ul>
                        <h3>Directions</h3>
                        <p>@Html.Raw(Model.Recipe.recipe_direction)</p>
                        <div class="recipe-details-video">
                            <h3>Watch Video</h3>
                            @if (!string.IsNullOrEmpty(Model.Recipe.recipe_tutorial_video))
                            {
                                <div class="video-container">
                                    @Html.Raw(Model.Recipe.recipe_tutorial_video)
                                </div>
                            }
                            else
                            {
                                <p>No tutorial video available for this recipe.</p>
                            }
                        </div>

                        <div class="recipe-details-share">
                            <div class="row align-items-center">
                                <div class="col-lg-5 col-md-5">
                                    <div class="article-tag">
                                        @if (!string.IsNullOrEmpty(Model.recipe_tags))
                                        {
                                            var tags = Model.recipe_tags.Split(',');
                                            foreach (var tag in tags)
                                            {
                                                <ul>
                                                    <li class="title">Tags :</li>
                                                    <li>@tag</li>
                                                </ul>
                                            }
                                        }
                                    </div>
                                </div>
                                <div class="col-lg-7 col-md-7">
                                    <div class="article-social-icon">
                                        <ul class="social-icon">
                                            <li class="title">Share :</li>
                                            <li>
                                                <a href="https://www.facebook.com/" target="_blank">
                                                    <i class='bx bxl-facebook'></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://www.linkedin.com/" target="_blank">
                                                    <i class='bx bxl-linkedin'></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://twitter.com/" target="_blank">
                                                    <i class='bx bxl-twitter'></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://www.instagram.com/" target="_blank">
                                                    <i class='bx bxl-instagram'></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="comments-form">
                                <div class="contact-form">
                                    <h4>Add Your Comment on it!</h4>
                                    <form id="contactForm" action="@Url.Action("AddComment", "FlavourFusion")" method="post">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12">
                                                <div class="form-group">
                                                    <input type="hidden" name="recipeId" value="@Model.Recipe.recipe_id" />
                                                    <textarea name="commentText" class="form-control" id="message" cols="30" rows="8" @*required data-error="Write your message"*@ placeholder="Your Message"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12">
                                                <button type="submit" class="default-btn">
                                                    Post This Comment
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div class="comments-wrap">
                                <div class="comment-title">
                                    <h4>@Model.Comments.Count() Comments:</h4>
                                </div>
                                <ul class="comment-form">

                                    @foreach (var comment in Model.Comments)
                                    {
                                        <li>
                                            <img src="@Url.Content(comment.Tbl_Users.user_img)" alt="Image" height="50" width="50" style="border-radius:50%">
                                            <h3>@comment.Tbl_Users.user_name</h3>
                                            <span>@comment.comment_date</span>
                                            <p>
                                                @comment.comment_text
                                                @if (Session["u_id"] != null && int.TryParse(Session["u_id"].ToString(), out int uId) && uId == comment.user_id)
                                                {
                                                    <a href="@Url.Action("Delete", "FlavourFusion", new { id = comment.comment_id })" style="text-decoration:none;">Delete</a>
                                                }
                                            </p>
                                            <form class="reply-form" action="@Url.Action("AddReply", "FlavourFusion")" method="post">
                                                <input type="hidden" name="commentId" value="@comment.comment_id" />
                                                <textarea name="replyText" placeholder="Add a reply" style="background-color: white; border: none; border-radius: 10px; box-shadow: rgba(17, 12, 46, 0.08) 0px 48px 100px 0px; height: 80px; width: 350px; padding-left: 8px; padding-top: 8px;"></textarea>
                                                <br />
                                                <button type="submit" class="default-btn" style="margin-bottom:30px;margin-top:20px;">Reply</button>
                                            </form>

                                            @if (comment.Tbl_Replies.Any())
                                            {
                                                <div class="replies" style="margin-left:20px;">
                                                    @foreach (var reply in comment.Tbl_Replies)
                                                    {
                                                        <div class="reply">
                                                            <div class="reply-content">
                                                                <div class="reply-author">
                                                                    <span>@reply.Tbl_Users.user_name</span>
                                                                    <span class="reply-date">@reply.reply_date</span>
                                                                    @if (Session["u_id"] != null && int.TryParse(Session["u_id"].ToString(), out int replyUserId) && replyUserId == reply.user_id)
                                                                    {
                                                                        <a href="@Url.Action("DeleteReply", "FlavourFusion", new { id = reply.reply_id })" style="text-decoration:none;">Delete</a>
                                                                    }
                                                                </div>
                                                                <p>@reply.reply_text</p>
                                                            </div>
                                                        </div>
                                                    }
                                                </div>

                                            }


                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4">
                    <div class="side-bar-area pl-20">
                        <div class="side-bar-area pl-20">

                            <div class="recipe-side-bar-categories">
                                <h3>Categories</h3>
                                <ul>
                                    @foreach (var category in Model.Categories)
                                    {
                                        <li>
                                            @Html.ActionLink(category.category_name + " (" + category.Tbl_Recipe.Count() + ")", "Recipies", "FlavourFusion", new { id = category.category_id }, new { @class = "category-link active", @style = "text-decoration:none;" })
                                        </li>
                                    }
                                </ul>
                            </div>

                            <div class="side-bar-widget side-bar-widget-bg">
                                <h3 class="title">Recent Recipe</h3>
                                <div class="widget-popular-post">
                                    <article class="item">
                                        <a href="blog-details.html" class="thumb">
                                            <span class="full-image cover bg1" role="img"></span>
                                        </a>
                                        <div class="info">
                                            <h4 class="title-text">
                                                <a href="blog-details.html">
                                                    5 Tips For Making Delicious Food For all
                                                </a>
                                            </h4>
                                            <a href="blog-details.html" class="read-btn" target="_blank">Read More</a>
                                        </div>
                                    </article>
                                    <article class="item">
                                        <a href="blog-details.html" class="thumb">
                                            <span class="full-image cover bg2" role="img"></span>
                                        </a>
                                        <div class="info">
                                            <h4 class="title-text">
                                                <a href="blog-details.html">
                                                    Top 15 Vegan Easy Recipe to Get More Details
                                                </a>
                                            </h4>
                                            <a href="blog-details.html" class="read-btn" target="_blank">Read More</a>
                                        </div>
                                    </article>
                                    <article class="item">
                                        <a href="blog-details.html" class="thumb">
                                            <span class="full-image cover bg3" role="img"></span>
                                        </a>
                                        <div class="info">
                                            <h4 class="title-text">
                                                <a href="blog-details.html">
                                                    Restaurants cafe Popular Recipe from Our Site
                                                </a>
                                            </h4>
                                            <a href="blog-details.html" class="read-btn" target="_blank">Read More</a>
                                        </div>
                                    </article>
                                    <article class="item">
                                        <a href="blog-details.html" class="thumb">
                                            <span class="full-image cover bg4" role="img"></span>
                                        </a>
                                        <div class="info">
                                            <h4 class="title-text">
                                                <a href="blog-details.html">
                                                    Top 8 Ways for Living Healthy Life Important
                                                </a>
                                            </h4>
                                            <a href="blog-details.html" class="read-btn" target="_blank">Read More</a>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div class="side-bar-widget">
                                <h3 class="title-tag">Popular Tags</h3>
                                <ul class="side-bar-widget-tag">
                                    @if (!string.IsNullOrEmpty(Model.recipe_tags))
                                    {
                                        var tags = Model.recipe_tags.Split(',');
                                        foreach (var tag in tags)
                                        {
                                            <li>@tag</li>
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>