<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
    <title>Our Admin Panel Home - FlavourFusion</title>
    <style>

        body {
            font-family: 'Poppins', sans-serif;
        }

        h4 {
            font-size: 30px;
            text-align: center;
            margin-top: 40px;
            margin-bottom: 50px;
        }

        .toast {
            position: fixed;
            right: 20px;
            z-index: 1;
            margin-bottom: 120px;
            box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
        }

        #thebutton {
            position: relative;
            left: 130px;
        }

        #navbar-example2 {
            box-shadow: rgba(17, 12, 46, 0.06) 0px 48px 100px 0px;
            width: 900px;
            margin-left: auto;
            margin-right: auto;
            border-radius: 8px;
            height: 60px;
        }

        .thenav-link {
            color: black;
            font-size: 17px;
            transition: 0.2s;
        }

            .thenav-link:hover {
                color: rgb(255, 132, 0);
                font-size: 19px;
            }


        .table-responsive::-webkit-scrollbar {
            display: none;
        }

        .center-card {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 80px;
            margin-bottom: 50px;
        }

        .center-heading {
            text-align: center;
            margin-top: 20px;
        }

        .thecard {
            height: 250px;
            border-radius: 10px;
            border: none;
            position: relative;
            margin-bottom: 30px;
            background-color: mediumslateblue;
            transition: 0.3s;
        }

            .thecard:hover {
                margin: 2px;
            }

        .fa-shopping-cart {
            font-size: 150px;
            margin-top: 50px;
            text-align: center;
            margin-right: 3px;
            color: white;
            position: absolute;
            right: -4px;
            top: 20px;
            opacity: 0.08;
        }

        .nav-link:focus,
        .nav-link:active,
        .nav-link:focus,
        .nav-link:active {
            color: black;
            outline: none;
        }

        .nav-link:hover {
            color: rgb(255, 132, 0);
        }

        .dropdown-toggle::after {
            transition: transform 0.2s ease-in-out;
            transform: rotate(0deg);
        }

        .dropdown-toggle:hover::after {
            transform: rotate(180deg);
        }

        .dropdown-toggle[aria-expanded="true"]::after {
            transform: rotate(180deg);
        }

        .chart-container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
        }
    </style>
</head>
@if (TempData["ToastMessage"] != null)
{
    <div role="alert" aria-live="assertive" aria-atomic="true" class="toast" data-autohide="false">
        <div class="toast-header">
            <img src="~/Content/img/greentick-icon.png" height="23" width="23" class="rounded mr-2" alt="...">
            <small>@DateTime.Now</small>
            <button type="button" class="btn-close btn-close-dark end-0" id="thebutton" onclick="$(this).closest('.toast').toast('hide')" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            <p class="card-text">@TempData["ToastMessage"]</p>
        </div>
    </div>
    <script>
    $(document).ready(function () {
        @if (TempData["ToastMessage"] != null)
        {
            @: $('.toast').toast('show');
        }
    });
    </script>
}
<h4> @Session["ad_name"] , Welcome To Admin Panel</h4>
<nav id="navbar-example2" class="navbar navbar-light d-flex justify-content-center">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link thenav-link" href="@Url.Action("Admin_Panel")">Home</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle thenav-link" href="#" role="button" aria-haspopup="true" aria-expanded="false">Categories</a>
            <ul class="dropdown-menu" style="background: white; border: none; padding: 13px; box-shadow: rgba(17, 12, 46, 0.2) 0px 48px 100px 0px; border-radius: 8px; height: 90px;">
                <li><a class="dropdown-item" href="@Url.Action("Add_Recipe_Category")">Add Category</a></li>
                <li><a class="dropdown-item" href="@Url.Action("View_Category")">View Category</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle thenav-link" href="#" role="button" aria-haspopup="true" aria-expanded="false">Events & Updates</a>
            <ul class="dropdown-menu" style="background: white; border: none; padding: 13px; box-shadow: rgba(17, 12, 46, 0.2) 0px 48px 100px 0px; border-radius: 8px;">
                <li><a class="dropdown-item" href="@Url.Action("CreateContest")">Add Contest</a></li>
                <li><a class="dropdown-item" href="@Url.Action("ViewContest")">View Contest</a></li>
                <li><a class="dropdown-item" href="@Url.Action("ViewSubmissions")">Contest Submissions</a></li>
                <li><a class="dropdown-item" href="@Url.Action("Add_Annoucement")">Add Announcement</a></li>
                <li><a class="dropdown-item" href="@Url.Action("View_Annoucement")">View Announcement</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle thenav-link" href="#" role="button" aria-haspopup="true" aria-expanded="false">Recipes</a>
            <ul class="dropdown-menu" style="background: white; border: none; padding: 13px; box-shadow: rgba(17, 12, 46, 0.2) 0px 48px 100px 0px; border-radius: 8px; height: 90px;">
                <li><a class="dropdown-item" href="@Url.Action("Recipe_Add")">Add Recipe</a></li>
                <li><a class="dropdown-item" href="@Url.Action("ViewAllRecipes")">View Recipes</a></li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link thenav-link" href="@Url.Action("RegisteredUser")">All Registered Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link thenav-link" href="@Url.Action("Logout")">Logout</a>
        </li>
    </ul>
</nav>
<script>
    // Open dropdown menu on hover
    $(document).ready(function () {
        $('.dropdown').hover(
            function () {
                $(this).find('.dropdown-menu').stop(true, true).delay(100).fadeIn(10);
            },
            function () {
                $(this).find('.dropdown-menu').stop(true, true).delay(100).fadeOut(10);
            }
        );
    });
</script>

<div class="center-card" style="border: none; text-align: center">
    <div class="card container center-table bg-white" style="box-shadow: rgba(17, 12, 46, 0.06) 0px 48px 100px 0px; border-color: white;border-radius:12px;">
        <!-- Display Announcements -->
        <h2 style="margin-top:30px;">Announcements</h2>
        <div class="container" style="margin-top: 15px; margin-bottom: 20px; border-radius: 12px; box-shadow: rgba(17, 12, 46, 0.03) 0px 48px 100px 0px; border: 0.5px solid darkorange;">
            <table class="table table-borderless customtable">
                <thead>
                    <tr style="text-align:left">
                        <td>Annoucement ID</td>
                        <td>Annoucement Title</td>
                        <td>Annoucement Description</td>
                        <td>Annoucement Date</td>
                    </tr>
                </thead>
                <tbody style="border-top: 0.5px solid grey; text-align: left">
                    @foreach (var announcement in ViewBag.Announcements)
                    {
                        <tr>
                            <td>@announcement.Annoucement_id</td>
                            <td>@announcement.Annoucement_Text</td>
                            <td>@announcement.Annoucement_Description</td>
                            <td>@announcement.Annoucement_Date</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <!-- Display Comments -->
        <h2 style="margin-top:80px;">Comments</h2>
        <div class="container" style="margin-top: 15px; margin-bottom: 20px; border-radius: 12px; box-shadow: rgba(17, 12, 46, 0.03) 0px 48px 100px 0px; border: 0.5px solid darkorange;">
            <table class="table table-borderless customtable">
                <thead>
                    <tr style="text-align:left">
                        <td>Comment ID</td>
                        <td>User ID</td>
                        <td>Recipe ID</td>
                        <td>User Comment</td>
                        <td>Comment Date</td>
                    </tr>
                </thead>
                <tbody style="border-top: 0.5px solid grey; text-align: left">
                    @foreach (var comment in ViewBag.Comments)
                    {
                        <tr>
                            <td>@comment.comment_id</td>
                            <td>@comment.user_id</td>
                            <td>@comment.recipe_id</td>
                            <td>@comment.comment_text</td>
                            <td>@comment.comment_date</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <!-- Display Replies -->
        <h2 style="margin-top:80px;">Replies</h2>
        <div class="container" style="margin-top: 15px; margin-bottom: 20px; border-radius: 12px; box-shadow: rgba(17, 12, 46, 0.03) 0px 48px 100px 0px; border: 0.5px solid darkorange;">
            <table class="table table-borderless customtable">
                <thead>
                    <tr style="text-align:left">
                        <td>Reply ID</td>
                        <td>Comment ID</td>
                        <td>User ID</td>
                        <td>User Reply</td>
                        <td>Reply Date</td>
                    </tr>
                </thead>
                <tbody style="border-top: 0.5px solid grey; text-align: left">
                    @foreach (var replies in ViewBag.Replies)
                    {
                        <tr style="text-align:left">
                            <td>@replies.reply_id</td>
                            <td>@replies.comment_id</td>
                            <td>@replies.user_id</td>
                            <td>@replies.reply_text</td>
                            <td>@replies.reply_date</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="container" style="margin-top:80px;display:flex;justify-content:center;align-items:center;">
            <h2 style="background-color: white; box-shadow: rgba(17, 12, 46, 0.05) 0px 48px 100px 0px; border: 0.5px solid darkorange;padding:5px;border-radius:8px;width:350px;">Contest & Recipes</h2>
        </div>
        <div class="container" style="display: flex; justify-content: center; align-items: flex-end; position: relative; bottom: 50px;">
            <div class="chart-container" style="height: 550px; width: 350px;">
                <canvas id="contestsChart"></canvas>
            </div>
            <div class="chart-container" style="height: 550px; width: 350px; margin-left: 20px;">
                <canvas id="recipesChart"></canvas>
            </div>
        </div>

        <div class="container" style="position:relative;bottom:85px;">
            <div class="container" style="margin-top:80px;display:flex;justify-content:center;align-items:center;">
                <h2 style="background-color: white; box-shadow: rgba(17, 12, 46, 0.05) 0px 48px 100px 0px; border: 0.5px solid darkorange;padding:5px;border-radius:8px;width:450px;">Contest Submissions</h2>
            </div>
            <div class="chart-container" style="display: flex; justify-content: center; align-items: center; height: 450px;">
                <canvas id="submissionsChart"></canvas>
            </div>
        </div>






        </div>
    </div>



<!-- Place this at the bottom of your view -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    function getRandomColor() {
        var letters = '0123456789ABCDEF';
        var color = '#';
        for (var i = 0; i < 6; i++) {
            color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
    }

    // Announcements Chart
    var contestsData = {
        labels: [@foreach (var contest in ViewBag.Contests) {
            @Html.Raw("\"" + contest.ContestName + "\",")
        }],
        datasets: [{
            data: [@foreach (var contest in ViewBag.Contests) {
                @Html.Raw("\"" + contest.Contest_Id + "\",")
            }],
            backgroundColor: ["#00bfff", "#FFA500", "#606060FF"]
        }]
    };

    var contestsChart = new Chart(document.getElementById('contestsChart'), {
        type: 'pie',
        data: contestsData
    });

    var recipData = {
        labels: [@foreach (var recipes in ViewBag.Recipes) {
            @Html.Raw("\"" + recipes.recipe_name + "\",")
        }],
        datasets: [{
            data: [@foreach (var recipes in ViewBag.Recipes) {
                @Html.Raw("\"" + recipes.recipe_id + "\",")
            }],
            backgroundColor: ["#00bfff", "#FFA500", "#606060FF"]
        }]
    };

    var recipData = new Chart(document.getElementById('recipesChart'), {
        type: 'pie',
        data: recipData
    });

    var SubmissionData = {
        labels: [@foreach (var submissions in ViewBag.Submissions) {
            @Html.Raw("\"" + submissions.RecipeName + "\",")
        }],
        datasets: [{
            data: [@foreach (var submissions in ViewBag.Submissions) {
                @Html.Raw("\"" + submissions.UserId + "\",")
            }],
            backgroundColor: ["#00bfff", "#FFA500", "#606060FF"]
        }]
    };

    var SubmissionData = new Chart(document.getElementById('submissionsChart'), {
        type: 'pie',
        data: SubmissionData
    });
</script>
